@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  color: #333;
}

h1 {
  font-size: 1.25rem;
  font-weight: bold;
}

h2 {
  font-size: 1rem;
  font-weight: bold;
}

button {
  @apply bg-gray-200 border border-gray-400 py-0 px-1 rounded-sm text-sm;
}

button:disabled {
  @apply bg-gray-400 border border-gray-400 py-0 px-1 rounded-sm text-sm;
}
